.anchor
    .anchor-label
        display inline-block
    a
        opacity 0
        font-size 24px
        margin-left 5px
        transition opacity 0.2s ease-in-out
    &:hover a
        opacity 1
