/*
  查询图标 http://fa5.dashgame.com/#/%E5%9B%BE%E6%A0%87
*/

font-setting(n)
	font-family n
	font-style normal
	font-weight normal
	font-display auto

@font-face
	font-setting('Font Awesome 5 Brands')
	src url(./../fonts/icon-brands-400.eot?#iefix) format('embedded-opentype'), url(./../fonts/icon-brands-400.woff2) format('woff2'), url(./../fonts/icon-brands-400.woff) format('woff'), url(./../fonts/icon-brands-400.ttf) format('truetype'), url(./../fonts/icon-brands-400.svg#fontawesome) format('svg')

@font-face
	font-setting('Font Awesome 5 regular')
	src url(./../fonts/icon-regular-400.eot?#iefix) format('embedded-opentype'), url(./../fonts/icon-regular-400.woff2) format('woff2'), url(./../fonts/icon-regular-400.woff) format('woff'), url(./../fonts/icon-regular-400.ttf) format('truetype'), url(./../fonts/icon-regular-400.svg#fontawesome) format('svg')

@font-face
	font-setting('Font Awesome 5 solid')
	src url(./../fonts/icon-solid-900.eot?#iefix) format('embedded-opentype'), url(./../fonts/icon-solid-900.woff2) format('woff2'), url(./../fonts/icon-solid-900.woff) format('woff'), url(./../fonts/icon-solid-900.ttf) format('truetype'), url(./../fonts/icon-solid-900.svg#fontawesome) format('svg')

.icon
	display inline-block
	font-family 'Font Awesome 5 Brands', 'Font Awesome 5 regular', 'Font Awesome 5 solid'
	speak none
	font-style normal
	font-weight 400
	font-variant normal
	font-size inherit
	text-transform none
	text-rendering auto
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	vertical-align middle

.icon-lg
	font-size 1.33333em
	line-height 0.75em
	vertical-align -.0667em

.icon-xs
	font-size .75em

.icon-sm
	font-size .875em

.icon-1x
	font-size 1em

.icon-2x
	font-size 2em

.icon-3x
	font-size 3em

.icon-4x
	font-size 4em

.icon-5x
	font-size 5em

.icon-6x
	font-size 6em

.icon-7x
	font-size 7em

.icon-8x
	font-size 8em

.icon-9x
	font-size 9em

.icon-10x
	font-size 10em

.icon-fw
	text-align center
	width 1.25em

.icon-ul
	list-style-type none
	margin-left 2.5em
	padding-left 0
	.icon-ul > li
		position relative

.icon-li
	left -2em
	position absolute
	text-align center
	width 2em
	line-height inherit

.icon-border
	border solid 0.08em $border-color
	border-radius .1em
	padding .2em .25em .15em

.icon-pull-left
	float left

.icon-pull-right
	float right

.icon.icon-pull-left
	margin-right .3em

.icon.icon-pull-right
	margin-left .3em

.icon-spin
	-webkit-animation icon-spin 2s infinite linear
	animation icon-spin 2s infinite linear

.icon-pulse
	-webkit-animation icon-spin 1s infinite steps(8)
	animation icon-spin 1s infinite steps(8)

@-webkit-keyframes icon-spin
	0%
		-webkit-transform rotate(0deg)
		transform rotate(0deg)
	100%
		-webkit-transform rotate(360deg)
		transform rotate(360deg)

@keyframes icon-spin
	0%
		-webkit-transform rotate(0deg)
		transform rotate(0deg)
	100%
		-webkit-transform rotate(360deg)
		transform rotate(360deg)

.icon-rotate-90
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=1)'
	-webkit-transform rotate(90deg)
	transform rotate(90deg)

.icon-rotate-180
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=2)'
	-webkit-transform rotate(180deg)
	transform rotate(180deg)

.icon-rotate-270
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=3)'
	-webkit-transform rotate(270deg)
	transform rotate(270deg)

.icon-flip-horizontal
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)'
	-webkit-transform scale(-1, 1)
	transform scale(-1, 1)

.icon-flip-vertical
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)'
	-webkit-transform scale(1, -1)
	transform scale(1, -1)

.icon-flip-both
.icon-flip-horizontal.icon-flip-vertical
	-ms-filter 'progidDXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)'
	-webkit-transform scale(-1, -1)
	transform scale(-1, -1)

:root .icon-rotate-90
:root .icon-rotate-180
:root .icon-rotate-270
:root .icon-flip-horizontal
:root .icon-flip-vertical
:root .icon-flip-both
	-webkit-filter none
	filter none

.icon-stack
	display inline-block
	height 2em
	line-height 2em
	position relative
	vertical-align middle
	width 2.5em

.icon-stack-1x
.icon-stack-2x
	left 0
	position absolute
	text-align center
	width 100%

.icon-stack-1x
	line-height inherit

.icon-stack-2x
	font-size 2em

.icon-inverse
	color #fff

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.icon-500px:before
	content '\f26e'

.icon-accessible-icon:before
	content '\f368'

.icon-accusoft:before
	content '\f369'

.icon-acquisitions-incorporated:before
	content '\f6af'

.icon-ad:before
	content '\f641'

.icon-address-book:before
	content '\f2b9'

.icon-address-card:before
	content '\f2bb'

.icon-adjust:before
	content '\f042'

.icon-adn:before
	content '\f170'

.icon-adobe:before
	content '\f778'

.icon-adversal:before
	content '\f36a'

.icon-affiliatetheme:before
	content '\f36b'

.icon-air-freshener:before
	content '\f5d0'

.icon-airbnb:before
	content '\f834'

.icon-algolia:before
	content '\f36c'

.icon-align-center:before
	content '\f037'

.icon-align-justify:before
	content '\f039'

.icon-align-left:before
	content '\f036'

.icon-align-right:before
	content '\f038'

.icon-alipay:before
	content '\f642'

.icon-allergies:before
	content '\f461'

.icon-amazon:before
	content '\f270'

.icon-amazon-pay:before
	content '\f42c'

.icon-ambulance:before
	content '\f0f9'

.icon-american-sign-language-interpreting:before
	content '\f2a3'

.icon-amilia:before
	content '\f36d'

.icon-anchor:before
	content '\f13d'

.icon-android:before
	content '\f17b'

.icon-angellist:before
	content '\f209'

.icon-angle-double-down:before
	content '\f103'

.icon-angle-double-left:before
	content '\f100'

.icon-angle-double-right:before
	content '\f101'

.icon-angle-double-up:before
	content '\f102'

.icon-angle-down:before
	content '\f107'

.icon-angle-left:before
	content '\f104'

.icon-angle-right:before
	content '\f105'

.icon-angle-up:before
	content '\f106'

.icon-angry:before
	content '\f556'

.icon-angrycreative:before
	content '\f36e'

.icon-angular:before
	content '\f420'

.icon-ankh:before
	content '\f644'

.icon-app-store:before
	content '\f36f'

.icon-app-store-ios:before
	content '\f370'

.icon-apper:before
	content '\f371'

.icon-apple:before
	content '\f179'

.icon-apple-alt:before
	content '\f5d1'

.icon-apple-pay:before
	content '\f415'

.icon-archive:before
	content '\f187'

.icon-archway:before
	content '\f557'

.icon-arrow-alt-circle-down:before
	content '\f358'

.icon-arrow-alt-circle-left:before
	content '\f359'

.icon-arrow-alt-circle-right:before
	content '\f35a'

.icon-arrow-alt-circle-up:before
	content '\f35b'

.icon-arrow-circle-down:before
	content '\f0ab'

.icon-arrow-circle-left:before
	content '\f0a8'

.icon-arrow-circle-right:before
	content '\f0a9'

.icon-arrow-circle-up:before
	content '\f0aa'

.icon-arrow-down:before
	content '\f063'

.icon-arrow-left:before
	content '\f060'

.icon-arrow-right:before
	content '\f061'

.icon-arrow-up:before
	content '\f062'

.icon-arrows-alt:before
	content '\f0b2'

.icon-arrows-alt-h:before
	content '\f337'

.icon-arrows-alt-v:before
	content '\f338'

.icon-artstation:before
	content '\f77a'

.icon-assistive-listening-systems:before
	content '\f2a2'

.icon-asterisk:before
	content '\f069'

.icon-asymmetrik:before
	content '\f372'

.icon-at:before
	content '\f1fa'

.icon-atlas:before
	content '\f558'

.icon-atlassian:before
	content '\f77b'

.icon-atom:before
	content '\f5d2'

.icon-audible:before
	content '\f373'

.icon-audio-description:before
	content '\f29e'

.icon-autoprefixer:before
	content '\f41c'

.icon-avianex:before
	content '\f374'

.icon-aviato:before
	content '\f421'

.icon-award:before
	content '\f559'

.icon-aws:before
	content '\f375'

.icon-baby:before
	content '\f77c'

.icon-baby-carriage:before
	content '\f77d'

.icon-backspace:before
	content '\f55a'

.icon-backward:before
	content '\f04a'

.icon-bacon:before
	content '\f7e5'

.icon-balance-scale:before
	content '\f24e'

.icon-balance-scale-left:before
	content '\f515'

.icon-balance-scale-right:before
	content '\f516'

.icon-ban:before
	content '\f05e'

.icon-band-aid:before
	content '\f462'

.icon-bandcamp:before
	content '\f2d5'

.icon-barcode:before
	content '\f02a'

.icon-bars:before
	content '\f0c9'

.icon-baseball-ball:before
	content '\f433'

.icon-basketball-ball:before
	content '\f434'

.icon-bath:before
	content '\f2cd'

.icon-battery-empty:before
	content '\f244'

.icon-battery-full:before
	content '\f240'

.icon-battery-half:before
	content '\f242'

.icon-battery-quarter:before
	content '\f243'

.icon-battery-three-quarters:before
	content '\f241'

.icon-battle-net:before
	content '\f835'

.icon-bed:before
	content '\f236'

.icon-beer:before
	content '\f0fc'

.icon-behance:before
	content '\f1b4'

.icon-behance-square:before
	content '\f1b5'

.icon-bell:before
	content '\f0f3'

.icon-bell-slash:before
	content '\f1f6'

.icon-bezier-curve:before
	content '\f55b'

.icon-bible:before
	content '\f647'

.icon-bicycle:before
	content '\f206'

.icon-biking:before
	content '\f84a'

.icon-bimobject:before
	content '\f378'

.icon-binoculars:before
	content '\f1e5'

.icon-biohazard:before
	content '\f780'

.icon-birthday-cake:before
	content '\f1fd'

.icon-bitbucket:before
	content '\f171'

.icon-bitcoin:before
	content '\f379'

.icon-bity:before
	content '\f37a'

.icon-black-tie:before
	content '\f27e'

.icon-blackberry:before
	content '\f37b'

.icon-blender:before
	content '\f517'

.icon-blender-phone:before
	content '\f6b6'

.icon-blind:before
	content '\f29d'

.icon-blog:before
	content '\f781'

.icon-blogger:before
	content '\f37c'

.icon-blogger-b:before
	content '\f37d'

.icon-bluetooth:before
	content '\f293'

.icon-bluetooth-b:before
	content '\f294'

.icon-bold:before
	content '\f032'

.icon-bolt:before
	content '\f0e7'

.icon-bomb:before
	content '\f1e2'

.icon-bone:before
	content '\f5d7'

.icon-bong:before
	content '\f55c'

.icon-book:before
	content '\f02d'

.icon-book-dead:before
	content '\f6b7'

.icon-book-medical:before
	content '\f7e6'

.icon-book-open:before
	content '\f518'

.icon-book-reader:before
	content '\f5da'

.icon-bookmark:before
	content '\f02e'

.icon-bootstrap:before
	content '\f836'

.icon-border-all:before
	content '\f84c'

.icon-border-none:before
	content '\f850'

.icon-border-style:before
	content '\f853'

.icon-bowling-ball:before
	content '\f436'

.icon-box:before
	content '\f466'

.icon-box-open:before
	content '\f49e'

.icon-boxes:before
	content '\f468'

.icon-braille:before
	content '\f2a1'

.icon-brain:before
	content '\f5dc'

.icon-bread-slice:before
	content '\f7ec'

.icon-briefcase:before
	content '\f0b1'

.icon-briefcase-medical:before
	content '\f469'

.icon-broadcast-tower:before
	content '\f519'

.icon-broom:before
	content '\f51a'

.icon-brush:before
	content '\f55d'

.icon-btc:before
	content '\f15a'

.icon-buffer:before
	content '\f837'

.icon-bug:before
	content '\f188'

.icon-building:before
	content '\f1ad'

.icon-bullhorn:before
	content '\f0a1'

.icon-bullseye:before
	content '\f140'

.icon-burn:before
	content '\f46a'

.icon-buromobelexperte:before
	content '\f37f'

.icon-bus:before
	content '\f207'

.icon-bus-alt:before
	content '\f55e'

.icon-business-time:before
	content '\f64a'

.icon-buy-n-large:before
	content '\f8a6'

.icon-buysellads:before
	content '\f20d'

.icon-calculator:before
	content '\f1ec'

.icon-calendar:before
	content '\f133'

.icon-calendar-alt:before
	content '\f073'

.icon-calendar-check:before
	content '\f274'

.icon-calendar-day:before
	content '\f783'

.icon-calendar-minus:before
	content '\f272'

.icon-calendar-plus:before
	content '\f271'

.icon-calendar-times:before
	content '\f273'

.icon-calendar-week:before
	content '\f784'

.icon-camera:before
	content '\f030'

.icon-camera-retro:before
	content '\f083'

.icon-campground:before
	content '\f6bb'

.icon-canadian-maple-leaf:before
	content '\f785'

.icon-candy-cane:before
	content '\f786'

.icon-cannabis:before
	content '\f55f'

.icon-capsules:before
	content '\f46b'

.icon-car:before
	content '\f1b9'

.icon-car-alt:before
	content '\f5de'

.icon-car-battery:before
	content '\f5df'

.icon-car-crash:before
	content '\f5e1'

.icon-car-side:before
	content '\f5e4'

.icon-caret-down:before
	content '\f0d7'

.icon-caret-left:before
	content '\f0d9'

.icon-caret-right:before
	content '\f0da'

.icon-caret-square-down:before
	content '\f150'

.icon-caret-square-left:before
	content '\f191'

.icon-caret-square-right:before
	content '\f152'

.icon-caret-square-up:before
	content '\f151'

.icon-caret-up:before
	content '\f0d8'

.icon-carrot:before
	content '\f787'

.icon-cart-arrow-down:before
	content '\f218'

.icon-cart-plus:before
	content '\f217'

.icon-cash-register:before
	content '\f788'

.icon-cat:before
	content '\f6be'

.icon-cc-amazon-pay:before
	content '\f42d'

.icon-cc-amex:before
	content '\f1f3'

.icon-cc-apple-pay:before
	content '\f416'

.icon-cc-diners-club:before
	content '\f24c'

.icon-cc-discover:before
	content '\f1f2'

.icon-cc-jcb:before
	content '\f24b'

.icon-cc-mastercard:before
	content '\f1f1'

.icon-cc-paypal:before
	content '\f1f4'

.icon-cc-stripe:before
	content '\f1f5'

.icon-cc-visa:before
	content '\f1f0'

.icon-centercode:before
	content '\f380'

.icon-centos:before
	content '\f789'

.icon-certificate:before
	content '\f0a3'

.icon-chair:before
	content '\f6c0'

.icon-chalkboard:before
	content '\f51b'

.icon-chalkboard-teacher:before
	content '\f51c'

.icon-charging-station:before
	content '\f5e7'

.icon-chart-area:before
	content '\f1fe'

.icon-chart-bar:before
	content '\f080'

.icon-chart-line:before
	content '\f201'

.icon-chart-pie:before
	content '\f200'

.icon-check:before
	content '\f00c'

.icon-check-circle:before
	content '\f058'

.icon-check-double:before
	content '\f560'

.icon-check-square:before
	content '\f14a'

.icon-cheese:before
	content '\f7ef'

.icon-chess:before
	content '\f439'

.icon-chess-bishop:before
	content '\f43a'

.icon-chess-board:before
	content '\f43c'

.icon-chess-king:before
	content '\f43f'

.icon-chess-knight:before
	content '\f441'

.icon-chess-pawn:before
	content '\f443'

.icon-chess-queen:before
	content '\f445'

.icon-chess-rook:before
	content '\f447'

.icon-chevron-circle-down:before
	content '\f13a'

.icon-chevron-circle-left:before
	content '\f137'

.icon-chevron-circle-right:before
	content '\f138'

.icon-chevron-circle-up:before
	content '\f139'

.icon-chevron-down:before
	content '\f078'

.icon-chevron-left:before
	content '\f053'

.icon-chevron-right:before
	content '\f054'

.icon-chevron-up:before
	content '\f077'

.icon-child:before
	content '\f1ae'

.icon-chrome:before
	content '\f268'

.icon-chromecast:before
	content '\f838'

.icon-church:before
	content '\f51d'

.icon-circle:before
	content '\f111'

.icon-circle-notch:before
	content '\f1ce'

.icon-city:before
	content '\f64f'

.icon-clinic-medical:before
	content '\f7f2'

.icon-clipboard:before
	content '\f328'

.icon-clipboard-check:before
	content '\f46c'

.icon-clipboard-list:before
	content '\f46d'

.icon-clock:before
	content '\f017'

.icon-clone:before
	content '\f24d'

.icon-closed-captioning:before
	content '\f20a'

.icon-cloud:before
	content '\f0c2'

.icon-cloud-download-alt:before
	content '\f381'

.icon-cloud-meatball:before
	content '\f73b'

.icon-cloud-moon:before
	content '\f6c3'

.icon-cloud-moon-rain:before
	content '\f73c'

.icon-cloud-rain:before
	content '\f73d'

.icon-cloud-showers-heavy:before
	content '\f740'

.icon-cloud-sun:before
	content '\f6c4'

.icon-cloud-sun-rain:before
	content '\f743'

.icon-cloud-upload-alt:before
	content '\f382'

.icon-cloudscale:before
	content '\f383'

.icon-cloudsmith:before
	content '\f384'

.icon-cloudversify:before
	content '\f385'

.icon-cocktail:before
	content '\f561'

.icon-code:before
	content '\f121'

.icon-code-branch:before
	content '\f126'

.icon-codepen:before
	content '\f1cb'

.icon-codiepie:before
	content '\f284'

.icon-coffee:before
	content '\f0f4'

.icon-cog:before
	content '\f013'

.icon-cogs:before
	content '\f085'

.icon-coins:before
	content '\f51e'

.icon-columns:before
	content '\f0db'

.icon-comment:before
	content '\f075'

.icon-comment-alt:before
	content '\f27a'

.icon-comment-dollar:before
	content '\f651'

.icon-comment-dots:before
	content '\f4ad'

.icon-comment-medical:before
	content '\f7f5'

.icon-comment-slash:before
	content '\f4b3'

.icon-comments:before
	content '\f086'

.icon-comments-dollar:before
	content '\f653'

.icon-compact-disc:before
	content '\f51f'

.icon-compass:before
	content '\f14e'

.icon-compress:before
	content '\f066'

.icon-compress-arrows-alt:before
	content '\f78c'

.icon-concierge-bell:before
	content '\f562'

.icon-confluence:before
	content '\f78d'

.icon-connectdevelop:before
	content '\f20e'

.icon-contao:before
	content '\f26d'

.icon-cookie:before
	content '\f563'

.icon-cookie-bite:before
	content '\f564'

.icon-copy:before
	content '\f0c5'

.icon-copyright:before
	content '\f1f9'

.icon-cotton-bureau:before
	content '\f89e'

.icon-couch:before
	content '\f4b8'

.icon-cpanel:before
	content '\f388'

.icon-creative-commons:before
	content '\f25e'

.icon-creative-commons-by:before
	content '\f4e7'

.icon-creative-commons-nc:before
	content '\f4e8'

.icon-creative-commons-nc-eu:before
	content '\f4e9'

.icon-creative-commons-nc-jp:before
	content '\f4ea'

.icon-creative-commons-nd:before
	content '\f4eb'

.icon-creative-commons-pd:before
	content '\f4ec'

.icon-creative-commons-pd-alt:before
	content '\f4ed'

.icon-creative-commons-remix:before
	content '\f4ee'

.icon-creative-commons-sa:before
	content '\f4ef'

.icon-creative-commons-sampling:before
	content '\f4f0'

.icon-creative-commons-sampling-plus:before
	content '\f4f1'

.icon-creative-commons-share:before
	content '\f4f2'

.icon-creative-commons-zero:before
	content '\f4f3'

.icon-credit-card:before
	content '\f09d'

.icon-critical-role:before
	content '\f6c9'

.icon-crop:before
	content '\f125'

.icon-crop-alt:before
	content '\f565'

.icon-cross:before
	content '\f654'

.icon-crosshairs:before
	content '\f05b'

.icon-crow:before
	content '\f520'

.icon-crown:before
	content '\f521'

.icon-crutch:before
	content '\f7f7'

.icon-css3:before
	content '\f13c'

.icon-css3-alt:before
	content '\f38b'

.icon-cube:before
	content '\f1b2'

.icon-cubes:before
	content '\f1b3'

.icon-cut:before
	content '\f0c4'

.icon-cuttlefish:before
	content '\f38c'

.icon-d-and-d:before
	content '\f38d'

.icon-d-and-d-beyond:before
	content '\f6ca'

.icon-dashcube:before
	content '\f210'

.icon-database:before
	content '\f1c0'

.icon-deaf:before
	content '\f2a4'

.icon-delicious:before
	content '\f1a5'

.icon-democrat:before
	content '\f747'

.icon-deploydog:before
	content '\f38e'

.icon-deskpro:before
	content '\f38f'

.icon-desktop:before
	content '\f108'

.icon-dev:before
	content '\f6cc'

.icon-deviantart:before
	content '\f1bd'

.icon-dharmachakra:before
	content '\f655'

.icon-dhl:before
	content '\f790'

.icon-diagnoses:before
	content '\f470'

.icon-diaspora:before
	content '\f791'

.icon-dice:before
	content '\f522'

.icon-dice-d20:before
	content '\f6cf'

.icon-dice-d6:before
	content '\f6d1'

.icon-dice-five:before
	content '\f523'

.icon-dice-four:before
	content '\f524'

.icon-dice-one:before
	content '\f525'

.icon-dice-six:before
	content '\f526'

.icon-dice-three:before
	content '\f527'

.icon-dice-two:before
	content '\f528'

.icon-digg:before
	content '\f1a6'

.icon-digital-ocean:before
	content '\f391'

.icon-digital-tachograph:before
	content '\f566'

.icon-directions:before
	content '\f5eb'

.icon-discord:before
	content '\f392'

.icon-discourse:before
	content '\f393'

.icon-divide:before
	content '\f529'

.icon-dizzy:before
	content '\f567'

.icon-dna:before
	content '\f471'

.icon-dochub:before
	content '\f394'

.icon-docker:before
	content '\f395'

.icon-dog:before
	content '\f6d3'

.icon-dollar-sign:before
	content '\f155'

.icon-dolly:before
	content '\f472'

.icon-dolly-flatbed:before
	content '\f474'

.icon-donate:before
	content '\f4b9'

.icon-door-closed:before
	content '\f52a'

.icon-door-open:before
	content '\f52b'

.icon-dot-circle:before
	content '\f192'

.icon-dove:before
	content '\f4ba'

.icon-download:before
	content '\f019'

.icon-draft2digital:before
	content '\f396'

.icon-drafting-compass:before
	content '\f568'

.icon-dragon:before
	content '\f6d5'

.icon-draw-polygon:before
	content '\f5ee'

.icon-dribbble:before
	content '\f17d'

.icon-dribbble-square:before
	content '\f397'

.icon-dropbox:before
	content '\f16b'

.icon-drum:before
	content '\f569'

.icon-drum-steelpan:before
	content '\f56a'

.icon-drumstick-bite:before
	content '\f6d7'

.icon-drupal:before
	content '\f1a9'

.icon-dumbbell:before
	content '\f44b'

.icon-dumpster:before
	content '\f793'

.icon-dumpster-fire:before
	content '\f794'

.icon-dungeon:before
	content '\f6d9'

.icon-dyalog:before
	content '\f399'

.icon-earlybirds:before
	content '\f39a'

.icon-ebay:before
	content '\f4f4'

.icon-edge:before
	content '\f282'

.icon-edit:before
	content '\f044'

.icon-egg:before
	content '\f7fb'

.icon-eject:before
	content '\f052'

.icon-elementor:before
	content '\f430'

.icon-ellipsis-h:before
	content '\f141'

.icon-ellipsis-v:before
	content '\f142'

.icon-ello:before
	content '\f5f1'

.icon-ember:before
	content '\f423'

.icon-empire:before
	content '\f1d1'

.icon-envelope:before
	content '\f0e0'

.icon-envelope-open:before
	content '\f2b6'

.icon-envelope-open-text:before
	content '\f658'

.icon-envelope-square:before
	content '\f199'

.icon-envira:before
	content '\f299'

.icon-equals:before
	content '\f52c'

.icon-eraser:before
	content '\f12d'

.icon-erlang:before
	content '\f39d'

.icon-ethereum:before
	content '\f42e'

.icon-ethernet:before
	content '\f796'

.icon-etsy:before
	content '\f2d7'

.icon-euro-sign:before
	content '\f153'

.icon-evernote:before
	content '\f839'

.icon-exchange-alt:before
	content '\f362'

.icon-exclamation:before
	content '\f12a'

.icon-exclamation-circle:before
	content '\f06a'

.icon-exclamation-triangle:before
	content '\f071'

.icon-expand:before
	content '\f065'

.icon-expand-arrows-alt:before
	content '\f31e'

.icon-expeditedssl:before
	content '\f23e'

.icon-external-link-alt:before
	content '\f35d'

.icon-external-link-square-alt:before
	content '\f360'

.icon-eye:before
	content '\f06e'

.icon-eye-dropper:before
	content '\f1fb'

.icon-eye-slash:before
	content '\f070'

.icon-facebook:before
	content '\f09a'

.icon-facebook-f:before
	content '\f39e'

.icon-facebook-messenger:before
	content '\f39f'

.icon-facebook-square:before
	content '\f082'

.icon-fan:before
	content '\f863'

.icon-fantasy-flight-games:before
	content '\f6dc'

.icon-fast-backward:before
	content '\f049'

.icon-fast-forward:before
	content '\f050'

.icon-fax:before
	content '\f1ac'

.icon-feather:before
	content '\f52d'

.icon-feather-alt:before
	content '\f56b'

.icon-fedex:before
	content '\f797'

.icon-fedora:before
	content '\f798'

.icon-female:before
	content '\f182'

.icon-fighter-jet:before
	content '\f0fb'

.icon-figma:before
	content '\f799'

.icon-file:before
	content '\f15b'

.icon-file-alt:before
	content '\f15c'

.icon-file-archive:before
	content '\f1c6'

.icon-file-audio:before
	content '\f1c7'

.icon-file-code:before
	content '\f1c9'

.icon-file-contract:before
	content '\f56c'

.icon-file-csv:before
	content '\f6dd'

.icon-file-download:before
	content '\f56d'

.icon-file-excel:before
	content '\f1c3'

.icon-file-export:before
	content '\f56e'

.icon-file-image:before
	content '\f1c5'

.icon-file-import:before
	content '\f56f'

.icon-file-invoice:before
	content '\f570'

.icon-file-invoice-dollar:before
	content '\f571'

.icon-file-medical:before
	content '\f477'

.icon-file-medical-alt:before
	content '\f478'

.icon-file-pdf:before
	content '\f1c1'

.icon-file-powerpoint:before
	content '\f1c4'

.icon-file-prescription:before
	content '\f572'

.icon-file-signature:before
	content '\f573'

.icon-file-upload:before
	content '\f574'

.icon-file-video:before
	content '\f1c8'

.icon-file-word:before
	content '\f1c2'

.icon-fill:before
	content '\f575'

.icon-fill-drip:before
	content '\f576'

.icon-film:before
	content '\f008'

.icon-filter:before
	content '\f0b0'

.icon-fingerprint:before
	content '\f577'

.icon-fire:before
	content '\f06d'

.icon-fire-alt:before
	content '\f7e4'

.icon-fire-extinguisher:before
	content '\f134'

.icon-firefox:before
	content '\f269'

.icon-first-aid:before
	content '\f479'

.icon-first-order:before
	content '\f2b0'

.icon-first-order-alt:before
	content '\f50a'

.icon-firstdraft:before
	content '\f3a1'

.icon-fish:before
	content '\f578'

.icon-fist-raised:before
	content '\f6de'

.icon-flag:before
	content '\f024'

.icon-flag-checkered:before
	content '\f11e'

.icon-flag-usa:before
	content '\f74d'

.icon-flask:before
	content '\f0c3'

.icon-flickr:before
	content '\f16e'

.icon-flipboard:before
	content '\f44d'

.icon-flushed:before
	content '\f579'

.icon-fly:before
	content '\f417'

.icon-folder:before
	content '\f07b'

.icon-folder-minus:before
	content '\f65d'

.icon-folder-open:before
	content '\f07c'

.icon-folder-plus:before
	content '\f65e'

.icon-font:before
	content '\f031'

.icon-font-awesome:before
	content '\f2b4'

.icon-font-awesome-alt:before
	content '\f35c'

.icon-font-awesome-flag:before
	content '\f425'

.icon-font-awesome-logo-full:before
	content '\f4e6'

.icon-fonticons:before
	content '\f280'

.icon-fonticons-fi:before
	content '\f3a2'

.icon-football-ball:before
	content '\f44e'

.icon-fort-awesome:before
	content '\f286'

.icon-fort-awesome-alt:before
	content '\f3a3'

.icon-forumbee:before
	content '\f211'

.icon-forward:before
	content '\f04e'

.icon-foursquare:before
	content '\f180'

.icon-free-code-camp:before
	content '\f2c5'

.icon-freebsd:before
	content '\f3a4'

.icon-frog:before
	content '\f52e'

.icon-frown:before
	content '\f119'

.icon-frown-open:before
	content '\f57a'

.icon-fulcrum:before
	content '\f50b'

.icon-funnel-dollar:before
	content '\f662'

.icon-futbol:before
	content '\f1e3'

.icon-galactic-republic:before
	content '\f50c'

.icon-galactic-senate:before
	content '\f50d'

.icon-gamepad:before
	content '\f11b'

.icon-gas-pump:before
	content '\f52f'

.icon-gavel:before
	content '\f0e3'

.icon-gem:before
	content '\f3a5'

.icon-genderless:before
	content '\f22d'

.icon-get-pocket:before
	content '\f265'

.icon-gg:before
	content '\f260'

.icon-gg-circle:before
	content '\f261'

.icon-ghost:before
	content '\f6e2'

.icon-gift:before
	content '\f06b'

.icon-gifts:before
	content '\f79c'

.icon-git:before
	content '\f1d3'

.icon-git-alt:before
	content '\f841'

.icon-git-square:before
	content '\f1d2'

.icon-github:before
	content '\f09b'

.icon-github-alt:before
	content '\f113'

.icon-github-square:before
	content '\f092'

.icon-gitkraken:before
	content '\f3a6'

.icon-gitlab:before
	content '\f296'

.icon-gitter:before
	content '\f426'

.icon-glass-cheers:before
	content '\f79f'

.icon-glass-martini:before
	content '\f000'

.icon-glass-martini-alt:before
	content '\f57b'

.icon-glass-whiskey:before
	content '\f7a0'

.icon-glasses:before
	content '\f530'

.icon-glide:before
	content '\f2a5'

.icon-glide-g:before
	content '\f2a6'

.icon-globe:before
	content '\f0ac'

.icon-globe-africa:before
	content '\f57c'

.icon-globe-americas:before
	content '\f57d'

.icon-globe-asia:before
	content '\f57e'

.icon-globe-europe:before
	content '\f7a2'

.icon-gofore:before
	content '\f3a7'

.icon-golf-ball:before
	content '\f450'

.icon-goodreads:before
	content '\f3a8'

.icon-goodreads-g:before
	content '\f3a9'

.icon-google:before
	content '\f1a0'

.icon-google-drive:before
	content '\f3aa'

.icon-google-play:before
	content '\f3ab'

.icon-google-plus:before
	content '\f2b3'

.icon-google-plus-g:before
	content '\f0d5'

.icon-google-plus-square:before
	content '\f0d4'

.icon-google-wallet:before
	content '\f1ee'

.icon-gopuram:before
	content '\f664'

.icon-graduation-cap:before
	content '\f19d'

.icon-gratipay:before
	content '\f184'

.icon-grav:before
	content '\f2d6'

.icon-greater-than:before
	content '\f531'

.icon-greater-than-equal:before
	content '\f532'

.icon-grimace:before
	content '\f57f'

.icon-grin:before
	content '\f580'

.icon-grin-alt:before
	content '\f581'

.icon-grin-beam:before
	content '\f582'

.icon-grin-beam-sweat:before
	content '\f583'

.icon-grin-hearts:before
	content '\f584'

.icon-grin-squint:before
	content '\f585'

.icon-grin-squint-tears:before
	content '\f586'

.icon-grin-stars:before
	content '\f587'

.icon-grin-tears:before
	content '\f588'

.icon-grin-tongue:before
	content '\f589'

.icon-grin-tongue-squint:before
	content '\f58a'

.icon-grin-tongue-wink:before
	content '\f58b'

.icon-grin-wink:before
	content '\f58c'

.icon-grip-horizontal:before
	content '\f58d'

.icon-grip-lines:before
	content '\f7a4'

.icon-grip-lines-vertical:before
	content '\f7a5'

.icon-grip-vertical:before
	content '\f58e'

.icon-gripfire:before
	content '\f3ac'

.icon-grunt:before
	content '\f3ad'

.icon-guitar:before
	content '\f7a6'

.icon-gulp:before
	content '\f3ae'

.icon-h-square:before
	content '\f0fd'

.icon-hacker-news:before
	content '\f1d4'

.icon-hacker-news-square:before
	content '\f3af'

.icon-hackerrank:before
	content '\f5f7'

.icon-hamburger:before
	content '\f805'

.icon-hammer:before
	content '\f6e3'

.icon-hamsa:before
	content '\f665'

.icon-hand-holding:before
	content '\f4bd'

.icon-hand-holding-heart:before
	content '\f4be'

.icon-hand-holding-usd:before
	content '\f4c0'

.icon-hand-lizard:before
	content '\f258'

.icon-hand-middle-finger:before
	content '\f806'

.icon-hand-paper:before
	content '\f256'

.icon-hand-peace:before
	content '\f25b'

.icon-hand-point-down:before
	content '\f0a7'

.icon-hand-point-left:before
	content '\f0a5'

.icon-hand-point-right:before
	content '\f0a4'

.icon-hand-point-up:before
	content '\f0a6'

.icon-hand-pointer:before
	content '\f25a'

.icon-hand-rock:before
	content '\f255'

.icon-hand-scissors:before
	content '\f257'

.icon-hand-spock:before
	content '\f259'

.icon-hands:before
	content '\f4c2'

.icon-hands-helping:before
	content '\f4c4'

.icon-handshake:before
	content '\f2b5'

.icon-hanukiah:before
	content '\f6e6'

.icon-hard-hat:before
	content '\f807'

.icon-hashtag:before
	content '\f292'

.icon-hat-cowboy:before
	content '\f8c0'

.icon-hat-cowboy-side:before
	content '\f8c1'

.icon-hat-wizard:before
	content '\f6e8'

.icon-haykal:before
	content '\f666'

.icon-hdd:before
	content '\f0a0'

.icon-heading:before
	content '\f1dc'

.icon-headphones:before
	content '\f025'

.icon-headphones-alt:before
	content '\f58f'

.icon-headset:before
	content '\f590'

.icon-heart:before
	content '\f004'

.icon-heart-broken:before
	content '\f7a9'

.icon-heartbeat:before
	content '\f21e'

.icon-helicopter:before
	content '\f533'

.icon-highlighter:before
	content '\f591'

.icon-hiking:before
	content '\f6ec'

.icon-hippo:before
	content '\f6ed'

.icon-hips:before
	content '\f452'

.icon-hire-a-helper:before
	content '\f3b0'

.icon-history:before
	content '\f1da'

.icon-hockey-puck:before
	content '\f453'

.icon-holly-berry:before
	content '\f7aa'

.icon-home:before
	content '\f015'

.icon-hooli:before
	content '\f427'

.icon-hornbill:before
	content '\f592'

.icon-horse:before
	content '\f6f0'

.icon-horse-head:before
	content '\f7ab'

.icon-hospital:before
	content '\f0f8'

.icon-hospital-alt:before
	content '\f47d'

.icon-hospital-symbol:before
	content '\f47e'

.icon-hot-tub:before
	content '\f593'

.icon-hotdog:before
	content '\f80f'

.icon-hotel:before
	content '\f594'

.icon-hotjar:before
	content '\f3b1'

.icon-hourglass:before
	content '\f254'

.icon-hourglass-end:before
	content '\f253'

.icon-hourglass-half:before
	content '\f252'

.icon-hourglass-start:before
	content '\f251'

.icon-house-damage:before
	content '\f6f1'

.icon-houzz:before
	content '\f27c'

.icon-hryvnia:before
	content '\f6f2'

.icon-html5:before
	content '\f13b'

.icon-hubspot:before
	content '\f3b2'

.icon-i-cursor:before
	content '\f246'

.icon-ice-cream:before
	content '\f810'

.icon-icicles:before
	content '\f7ad'

.icon-icons:before
	content '\f86d'

.icon-id-badge:before
	content '\f2c1'

.icon-id-card:before
	content '\f2c2'

.icon-id-card-alt:before
	content '\f47f'

.icon-igloo:before
	content '\f7ae'

.icon-image:before
	content '\f03e'

.icon-images:before
	content '\f302'

.icon-imdb:before
	content '\f2d8'

.icon-inbox:before
	content '\f01c'

.icon-indent:before
	content '\f03c'

.icon-industry:before
	content '\f275'

.icon-infinity:before
	content '\f534'

.icon-info:before
	content '\f129'

.icon-info-circle:before
	content '\f05a'

.icon-instagram:before
	content '\f16d'

.icon-intercom:before
	content '\f7af'

.icon-internet-explorer:before
	content '\f26b'

.icon-invision:before
	content '\f7b0'

.icon-ioxhost:before
	content '\f208'

.icon-italic:before
	content '\f033'

.icon-itch-io:before
	content '\f83a'

.icon-itunes:before
	content '\f3b4'

.icon-itunes-note:before
	content '\f3b5'

.icon-java:before
	content '\f4e4'

.icon-jedi:before
	content '\f669'

.icon-jedi-order:before
	content '\f50e'

.icon-jenkins:before
	content '\f3b6'

.icon-jira:before
	content '\f7b1'

.icon-joget:before
	content '\f3b7'

.icon-joint:before
	content '\f595'

.icon-joomla:before
	content '\f1aa'

.icon-journal-whills:before
	content '\f66a'

.icon-js:before
	content '\f3b8'

.icon-js-square:before
	content '\f3b9'

.icon-jsfiddle:before
	content '\f1cc'

.icon-kaaba:before
	content '\f66b'

.icon-kaggle:before
	content '\f5fa'

.icon-key:before
	content '\f084'

.icon-keybase:before
	content '\f4f5'

.icon-keyboard:before
	content '\f11c'

.icon-keycdn:before
	content '\f3ba'

.icon-khanda:before
	content '\f66d'

.icon-kickstarter:before
	content '\f3bb'

.icon-kickstarter-k:before
	content '\f3bc'

.icon-kiss:before
	content '\f596'

.icon-kiss-beam:before
	content '\f597'

.icon-kiss-wink-heart:before
	content '\f598'

.icon-kiwi-bird:before
	content '\f535'

.icon-korvue:before
	content '\f42f'

.icon-landmark:before
	content '\f66f'

.icon-language:before
	content '\f1ab'

.icon-laptop:before
	content '\f109'

.icon-laptop-code:before
	content '\f5fc'

.icon-laptop-medical:before
	content '\f812'

.icon-laravel:before
	content '\f3bd'

.icon-lastfm:before
	content '\f202'

.icon-lastfm-square:before
	content '\f203'

.icon-laugh:before
	content '\f599'

.icon-laugh-beam:before
	content '\f59a'

.icon-laugh-squint:before
	content '\f59b'

.icon-laugh-wink:before
	content '\f59c'

.icon-layer-group:before
	content '\f5fd'

.icon-leaf:before
	content '\f06c'

.icon-leanpub:before
	content '\f212'

.icon-lemon:before
	content '\f094'

.icon-less:before
	content '\f41d'

.icon-less-than:before
	content '\f536'

.icon-less-than-equal:before
	content '\f537'

.icon-level-down-alt:before
	content '\f3be'

.icon-level-up-alt:before
	content '\f3bf'

.icon-life-ring:before
	content '\f1cd'

.icon-lightbulb:before
	content '\f0eb'

.icon-line:before
	content '\f3c0'

.icon-link:before
	content '\f0c1'

.icon-linkedin:before
	content '\f08c'

.icon-linkedin-in:before
	content '\f0e1'

.icon-linode:before
	content '\f2b8'

.icon-linux:before
	content '\f17c'

.icon-lira-sign:before
	content '\f195'

.icon-list:before
	content '\f03a'

.icon-list-alt:before
	content '\f022'

.icon-list-ol:before
	content '\f0cb'

.icon-list-ul:before
	content '\f0ca'

.icon-location-arrow:before
	content '\f124'

.icon-lock:before
	content '\f023'

.icon-lock-open:before
	content '\f3c1'

.icon-long-arrow-alt-down:before
	content '\f309'

.icon-long-arrow-alt-left:before
	content '\f30a'

.icon-long-arrow-alt-right:before
	content '\f30b'

.icon-long-arrow-alt-up:before
	content '\f30c'

.icon-low-vision:before
	content '\f2a8'

.icon-luggage-cart:before
	content '\f59d'

.icon-lyft:before
	content '\f3c3'

.icon-magento:before
	content '\f3c4'

.icon-magic:before
	content '\f0d0'

.icon-magnet:before
	content '\f076'

.icon-mail-bulk:before
	content '\f674'

.icon-mailchimp:before
	content '\f59e'

.icon-male:before
	content '\f183'

.icon-mandalorian:before
	content '\f50f'

.icon-map:before
	content '\f279'

.icon-map-marked:before
	content '\f59f'

.icon-map-marked-alt:before
	content '\f5a0'

.icon-map-marker:before
	content '\f041'

.icon-map-marker-alt:before
	content '\f3c5'

.icon-map-pin:before
	content '\f276'

.icon-map-signs:before
	content '\f277'

.icon-markdown:before
	content '\f60f'

.icon-marker:before
	content '\f5a1'

.icon-mars:before
	content '\f222'

.icon-mars-double:before
	content '\f227'

.icon-mars-stroke:before
	content '\f229'

.icon-mars-stroke-h:before
	content '\f22b'

.icon-mars-stroke-v:before
	content '\f22a'

.icon-mask:before
	content '\f6fa'

.icon-mastodon:before
	content '\f4f6'

.icon-maxcdn:before
	content '\f136'

.icon-mdb:before
	content '\f8ca'

.icon-medal:before
	content '\f5a2'

.icon-medapps:before
	content '\f3c6'

.icon-medium:before
	content '\f23a'

.icon-medium-m:before
	content '\f3c7'

.icon-medkit:before
	content '\f0fa'

.icon-medrt:before
	content '\f3c8'

.icon-meetup:before
	content '\f2e0'

.icon-megaport:before
	content '\f5a3'

.icon-meh:before
	content '\f11a'

.icon-meh-blank:before
	content '\f5a4'

.icon-meh-rolling-eyes:before
	content '\f5a5'

.icon-memory:before
	content '\f538'

.icon-mendeley:before
	content '\f7b3'

.icon-menorah:before
	content '\f676'

.icon-mercury:before
	content '\f223'

.icon-meteor:before
	content '\f753'

.icon-microchip:before
	content '\f2db'

.icon-microphone:before
	content '\f130'

.icon-microphone-alt:before
	content '\f3c9'

.icon-microphone-alt-slash:before
	content '\f539'

.icon-microphone-slash:before
	content '\f131'

.icon-microscope:before
	content '\f610'

.icon-microsoft:before
	content '\f3ca'

.icon-minus:before
	content '\f068'

.icon-minus-circle:before
	content '\f056'

.icon-minus-square:before
	content '\f146'

.icon-mitten:before
	content '\f7b5'

.icon-mix:before
	content '\f3cb'

.icon-mixcloud:before
	content '\f289'

.icon-mizuni:before
	content '\f3cc'

.icon-mobile:before
	content '\f10b'

.icon-mobile-alt:before
	content '\f3cd'

.icon-modx:before
	content '\f285'

.icon-monero:before
	content '\f3d0'

.icon-money-bill:before
	content '\f0d6'

.icon-money-bill-alt:before
	content '\f3d1'

.icon-money-bill-wave:before
	content '\f53a'

.icon-money-bill-wave-alt:before
	content '\f53b'

.icon-money-check:before
	content '\f53c'

.icon-money-check-alt:before
	content '\f53d'

.icon-monument:before
	content '\f5a6'

.icon-moon:before
	content '\f186'

.icon-mortar-pestle:before
	content '\f5a7'

.icon-mosque:before
	content '\f678'

.icon-motorcycle:before
	content '\f21c'

.icon-mountain:before
	content '\f6fc'

.icon-mouse:before
	content '\f8cc'

.icon-mouse-pointer:before
	content '\f245'

.icon-mug-hot:before
	content '\f7b6'

.icon-music:before
	content '\f001'

.icon-napster:before
	content '\f3d2'

.icon-neos:before
	content '\f612'

.icon-network-wired:before
	content '\f6ff'

.icon-neuter:before
	content '\f22c'

.icon-newspaper:before
	content '\f1ea'

.icon-nimblr:before
	content '\f5a8'

.icon-node:before
	content '\f419'

.icon-node-js:before
	content '\f3d3'

.icon-not-equal:before
	content '\f53e'

.icon-notes-medical:before
	content '\f481'

.icon-npm:before
	content '\f3d4'

.icon-ns8:before
	content '\f3d5'

.icon-nutritionix:before
	content '\f3d6'

.icon-object-group:before
	content '\f247'

.icon-object-ungroup:before
	content '\f248'

.icon-odnoklassniki:before
	content '\f263'

.icon-odnoklassniki-square:before
	content '\f264'

.icon-oil-can:before
	content '\f613'

.icon-old-republic:before
	content '\f510'

.icon-om:before
	content '\f679'

.icon-opencart:before
	content '\f23d'

.icon-openid:before
	content '\f19b'

.icon-opera:before
	content '\f26a'

.icon-optin-monster:before
	content '\f23c'

.icon-orcid:before
	content '\f8d2'

.icon-osi:before
	content '\f41a'

.icon-otter:before
	content '\f700'

.icon-outdent:before
	content '\f03b'

.icon-page4:before
	content '\f3d7'

.icon-pagelines:before
	content '\f18c'

.icon-pager:before
	content '\f815'

.icon-paint-brush:before
	content '\f1fc'

.icon-paint-roller:before
	content '\f5aa'

.icon-palette:before
	content '\f53f'

.icon-palfed:before
	content '\f3d8'

.icon-pallet:before
	content '\f482'

.icon-paper-plane:before
	content '\f1d8'

.icon-paperclip:before
	content '\f0c6'

.icon-parachute-box:before
	content '\f4cd'

.icon-paragraph:before
	content '\f1dd'

.icon-parking:before
	content '\f540'

.icon-passport:before
	content '\f5ab'

.icon-pastafarianism:before
	content '\f67b'

.icon-paste:before
	content '\f0ea'

.icon-patreon:before
	content '\f3d9'

.icon-pause:before
	content '\f04c'

.icon-pause-circle:before
	content '\f28b'

.icon-paw:before
	content '\f1b0'

.icon-paypal:before
	content '\f1ed'

.icon-peace:before
	content '\f67c'

.icon-pen:before
	content '\f304'

.icon-pen-alt:before
	content '\f305'

.icon-pen-fancy:before
	content '\f5ac'

.icon-pen-nib:before
	content '\f5ad'

.icon-pen-square:before
	content '\f14b'

.icon-pencil-alt:before
	content '\f303'

.icon-pencil-ruler:before
	content '\f5ae'

.icon-penny-arcade:before
	content '\f704'

.icon-people-carry:before
	content '\f4ce'

.icon-pepper-hot:before
	content '\f816'

.icon-percent:before
	content '\f295'

.icon-percentage:before
	content '\f541'

.icon-periscope:before
	content '\f3da'

.icon-person-booth:before
	content '\f756'

.icon-phabricator:before
	content '\f3db'

.icon-phoenix-framework:before
	content '\f3dc'

.icon-phoenix-squadron:before
	content '\f511'

.icon-phone:before
	content '\f095'

.icon-phone-alt:before
	content '\f879'

.icon-phone-slash:before
	content '\f3dd'

.icon-phone-square:before
	content '\f098'

.icon-phone-square-alt:before
	content '\f87b'

.icon-phone-volume:before
	content '\f2a0'

.icon-photo-video:before
	content '\f87c'

.icon-php:before
	content '\f457'

.icon-pied-piper:before
	content '\f2ae'

.icon-pied-piper-alt:before
	content '\f1a8'

.icon-pied-piper-hat:before
	content '\f4e5'

.icon-pied-piper-pp:before
	content '\f1a7'

.icon-piggy-bank:before
	content '\f4d3'

.icon-pills:before
	content '\f484'

.icon-pinterest:before
	content '\f0d2'

.icon-pinterest-p:before
	content '\f231'

.icon-pinterest-square:before
	content '\f0d3'

.icon-pizza-slice:before
	content '\f818'

.icon-place-of-worship:before
	content '\f67f'

.icon-plane:before
	content '\f072'

.icon-plane-arrival:before
	content '\f5af'

.icon-plane-departure:before
	content '\f5b0'

.icon-play:before
	content '\f04b'

.icon-play-circle:before
	content '\f144'

.icon-playstation:before
	content '\f3df'

.icon-plug:before
	content '\f1e6'

.icon-plus:before
	content '\f067'

.icon-plus-circle:before
	content '\f055'

.icon-plus-square:before
	content '\f0fe'

.icon-podcast:before
	content '\f2ce'

.icon-poll:before
	content '\f681'

.icon-poll-h:before
	content '\f682'

.icon-poo:before
	content '\f2fe'

.icon-poo-storm:before
	content '\f75a'

.icon-poop:before
	content '\f619'

.icon-portrait:before
	content '\f3e0'

.icon-pound-sign:before
	content '\f154'

.icon-power-off:before
	content '\f011'

.icon-pray:before
	content '\f683'

.icon-praying-hands:before
	content '\f684'

.icon-prescription:before
	content '\f5b1'

.icon-prescription-bottle:before
	content '\f485'

.icon-prescription-bottle-alt:before
	content '\f486'

.icon-print:before
	content '\f02f'

.icon-procedures:before
	content '\f487'

.icon-product-hunt:before
	content '\f288'

.icon-project-diagram:before
	content '\f542'

.icon-pushed:before
	content '\f3e1'

.icon-puzzle-piece:before
	content '\f12e'

.icon-python:before
	content '\f3e2'

.icon-qq:before
	content '\f1d6'

.icon-qrcode:before
	content '\f029'

.icon-question:before
	content '\f128'

.icon-question-circle:before
	content '\f059'

.icon-quidditch:before
	content '\f458'

.icon-quinscape:before
	content '\f459'

.icon-quora:before
	content '\f2c4'

.icon-quote-left:before
	content '\f10d'

.icon-quote-right:before
	content '\f10e'

.icon-quran:before
	content '\f687'

.icon-r-project:before
	content '\f4f7'

.icon-radiation:before
	content '\f7b9'

.icon-radiation-alt:before
	content '\f7ba'

.icon-rainbow:before
	content '\f75b'

.icon-random:before
	content '\f074'

.icon-raspberry-pi:before
	content '\f7bb'

.icon-ravelry:before
	content '\f2d9'

.icon-react:before
	content '\f41b'

.icon-reacteurope:before
	content '\f75d'

.icon-readme:before
	content '\f4d5'

.icon-rebel:before
	content '\f1d0'

.icon-receipt:before
	content '\f543'

.icon-record-vinyl:before
	content '\f8d9'

.icon-recycle:before
	content '\f1b8'

.icon-red-river:before
	content '\f3e3'

.icon-reddit:before
	content '\f1a1'

.icon-reddit-alien:before
	content '\f281'

.icon-reddit-square:before
	content '\f1a2'

.icon-redhat:before
	content '\f7bc'

.icon-redo:before
	content '\f01e'

.icon-redo-alt:before
	content '\f2f9'

.icon-registered:before
	content '\f25d'

.icon-remove-format:before
	content '\f87d'

.icon-renren:before
	content '\f18b'

.icon-reply:before
	content '\f3e5'

.icon-reply-all:before
	content '\f122'

.icon-replyd:before
	content '\f3e6'

.icon-republican:before
	content '\f75e'

.icon-researchgate:before
	content '\f4f8'

.icon-resolving:before
	content '\f3e7'

.icon-restroom:before
	content '\f7bd'

.icon-retweet:before
	content '\f079'

.icon-rev:before
	content '\f5b2'

.icon-ribbon:before
	content '\f4d6'

.icon-ring:before
	content '\f70b'

.icon-road:before
	content '\f018'

.icon-robot:before
	content '\f544'

.icon-rocket:before
	content '\f135'

.icon-rocketchat:before
	content '\f3e8'

.icon-rockrms:before
	content '\f3e9'

.icon-route:before
	content '\f4d7'

.icon-rss:before
	content '\f09e'

.icon-rss-square:before
	content '\f143'

.icon-ruble-sign:before
	content '\f158'

.icon-ruler:before
	content '\f545'

.icon-ruler-combined:before
	content '\f546'

.icon-ruler-horizontal:before
	content '\f547'

.icon-ruler-vertical:before
	content '\f548'

.icon-running:before
	content '\f70c'

.icon-rupee-sign:before
	content '\f156'

.icon-sad-cry:before
	content '\f5b3'

.icon-sad-tear:before
	content '\f5b4'

.icon-safari:before
	content '\f267'

.icon-salesforce:before
	content '\f83b'

.icon-sass:before
	content '\f41e'

.icon-satellite:before
	content '\f7bf'

.icon-satellite-dish:before
	content '\f7c0'

.icon-save:before
	content '\f0c7'

.icon-schlix:before
	content '\f3ea'

.icon-school:before
	content '\f549'

.icon-screwdriver:before
	content '\f54a'

.icon-scribd:before
	content '\f28a'

.icon-scroll:before
	content '\f70e'

.icon-sd-card:before
	content '\f7c2'

.icon-search:before
	content '\f002'

.icon-search-dollar:before
	content '\f688'

.icon-search-location:before
	content '\f689'

.icon-search-minus:before
	content '\f010'

.icon-search-plus:before
	content '\f00e'

.icon-searchengin:before
	content '\f3eb'

.icon-seedling:before
	content '\f4d8'

.icon-sellcast:before
	content '\f2da'

.icon-sellsy:before
	content '\f213'

.icon-server:before
	content '\f233'

.icon-servicestack:before
	content '\f3ec'

.icon-shapes:before
	content '\f61f'

.icon-share:before
	content '\f064'

.icon-share-alt:before
	content '\f1e0'

.icon-share-alt-square:before
	content '\f1e1'

.icon-share-square:before
	content '\f14d'

.icon-shekel-sign:before
	content '\f20b'

.icon-shield-alt:before
	content '\f3ed'

.icon-ship:before
	content '\f21a'

.icon-shipping-fast:before
	content '\f48b'

.icon-shirtsinbulk:before
	content '\f214'

.icon-shoe-prints:before
	content '\f54b'

.icon-shopping-bag:before
	content '\f290'

.icon-shopping-basket:before
	content '\f291'

.icon-shopping-cart:before
	content '\f07a'

.icon-shopware:before
	content '\f5b5'

.icon-shower:before
	content '\f2cc'

.icon-shuttle-van:before
	content '\f5b6'

.icon-sign:before
	content '\f4d9'

.icon-sign-in-alt:before
	content '\f2f6'

.icon-sign-language:before
	content '\f2a7'

.icon-sign-out-alt:before
	content '\f2f5'

.icon-signal:before
	content '\f012'

.icon-signature:before
	content '\f5b7'

.icon-sim-card:before
	content '\f7c4'

.icon-simplybuilt:before
	content '\f215'

.icon-sistrix:before
	content '\f3ee'

.icon-sitemap:before
	content '\f0e8'

.icon-sith:before
	content '\f512'

.icon-skating:before
	content '\f7c5'

.icon-sketch:before
	content '\f7c6'

.icon-skiing:before
	content '\f7c9'

.icon-skiing-nordic:before
	content '\f7ca'

.icon-skull:before
	content '\f54c'

.icon-skull-crossbones:before
	content '\f714'

.icon-skyatlas:before
	content '\f216'

.icon-skype:before
	content '\f17e'

.icon-slack:before
	content '\f198'

.icon-slack-hash:before
	content '\f3ef'

.icon-slash:before
	content '\f715'

.icon-sleigh:before
	content '\f7cc'

.icon-sliders-h:before
	content '\f1de'

.icon-slideshare:before
	content '\f1e7'

.icon-smile:before
	content '\f118'

.icon-smile-beam:before
	content '\f5b8'

.icon-smile-wink:before
	content '\f4da'

.icon-smog:before
	content '\f75f'

.icon-smoking:before
	content '\f48d'

.icon-smoking-ban:before
	content '\f54d'

.icon-sms:before
	content '\f7cd'

.icon-snapchat:before
	content '\f2ab'

.icon-snapchat-ghost:before
	content '\f2ac'

.icon-snapchat-square:before
	content '\f2ad'

.icon-snowboarding:before
	content '\f7ce'

.icon-snowflake:before
	content '\f2dc'

.icon-snowman:before
	content '\f7d0'

.icon-snowplow:before
	content '\f7d2'

.icon-socks:before
	content '\f696'

.icon-solar-panel:before
	content '\f5ba'

.icon-sort:before
	content '\f0dc'

.icon-sort-alpha-down:before
	content '\f15d'

.icon-sort-alpha-down-alt:before
	content '\f881'

.icon-sort-alpha-up:before
	content '\f15e'

.icon-sort-alpha-up-alt:before
	content '\f882'

.icon-sort-amount-down:before
	content '\f160'

.icon-sort-amount-down-alt:before
	content '\f884'

.icon-sort-amount-up:before
	content '\f161'

.icon-sort-amount-up-alt:before
	content '\f885'

.icon-sort-down:before
	content '\f0dd'

.icon-sort-numeric-down:before
	content '\f162'

.icon-sort-numeric-down-alt:before
	content '\f886'

.icon-sort-numeric-up:before
	content '\f163'

.icon-sort-numeric-up-alt:before
	content '\f887'

.icon-sort-up:before
	content '\f0de'

.icon-soundcloud:before
	content '\f1be'

.icon-sourcetree:before
	content '\f7d3'

.icon-spa:before
	content '\f5bb'

.icon-space-shuttle:before
	content '\f197'

.icon-speakap:before
	content '\f3f3'

.icon-speaker-deck:before
	content '\f83c'

.icon-spell-check:before
	content '\f891'

.icon-spider:before
	content '\f717'

.icon-spinner:before
	content '\f110'

.icon-splotch:before
	content '\f5bc'

.icon-spotify:before
	content '\f1bc'

.icon-spray-can:before
	content '\f5bd'

.icon-square:before
	content '\f0c8'

.icon-square-full:before
	content '\f45c'

.icon-square-root-alt:before
	content '\f698'

.icon-squarespace:before
	content '\f5be'

.icon-stack-exchange:before
	content '\f18d'

.icon-stack-overflow:before
	content '\f16c'

.icon-stackpath:before
	content '\f842'

.icon-stamp:before
	content '\f5bf'

.icon-star:before
	content '\f005'

.icon-star-and-crescent:before
	content '\f699'

.icon-star-half:before
	content '\f089'

.icon-star-half-alt:before
	content '\f5c0'

.icon-star-of-david:before
	content '\f69a'

.icon-star-of-life:before
	content '\f621'

.icon-staylinked:before
	content '\f3f5'

.icon-steam:before
	content '\f1b6'

.icon-steam-square:before
	content '\f1b7'

.icon-steam-symbol:before
	content '\f3f6'

.icon-step-backward:before
	content '\f048'

.icon-step-forward:before
	content '\f051'

.icon-stethoscope:before
	content '\f0f1'

.icon-sticker-mule:before
	content '\f3f7'

.icon-sticky-note:before
	content '\f249'

.icon-stop:before
	content '\f04d'

.icon-stop-circle:before
	content '\f28d'

.icon-stopwatch:before
	content '\f2f2'

.icon-store:before
	content '\f54e'

.icon-store-alt:before
	content '\f54f'

.icon-strava:before
	content '\f428'

.icon-stream:before
	content '\f550'

.icon-street-view:before
	content '\f21d'

.icon-strikethrough:before
	content '\f0cc'

.icon-stripe:before
	content '\f429'

.icon-stripe-s:before
	content '\f42a'

.icon-stroopwafel:before
	content '\f551'

.icon-studiovinari:before
	content '\f3f8'

.icon-stumbleupon:before
	content '\f1a4'

.icon-stumbleupon-circle:before
	content '\f1a3'

.icon-subscript:before
	content '\f12c'

.icon-subway:before
	content '\f239'

.icon-suitcase:before
	content '\f0f2'

.icon-suitcase-rolling:before
	content '\f5c1'

.icon-sun:before
	content '\f185'

.icon-superpowers:before
	content '\f2dd'

.icon-superscript:before
	content '\f12b'

.icon-supple:before
	content '\f3f9'

.icon-surprise:before
	content '\f5c2'

.icon-suse:before
	content '\f7d6'

.icon-swatchbook:before
	content '\f5c3'

.icon-swift:before
	content '\f8e1'

.icon-swimmer:before
	content '\f5c4'

.icon-swimming-pool:before
	content '\f5c5'

.icon-symfony:before
	content '\f83d'

.icon-synagogue:before
	content '\f69b'

.icon-sync:before
	content '\f021'

.icon-sync-alt:before
	content '\f2f1'

.icon-syringe:before
	content '\f48e'

.icon-table:before
	content '\f0ce'

.icon-table-tennis:before
	content '\f45d'

.icon-tablet:before
	content '\f10a'

.icon-tablet-alt:before
	content '\f3fa'

.icon-tablets:before
	content '\f490'

.icon-tachometer-alt:before
	content '\f3fd'

.icon-tag:before
	content '\f02b'

.icon-tags:before
	content '\f02c'

.icon-tape:before
	content '\f4db'

.icon-tasks:before
	content '\f0ae'

.icon-taxi:before
	content '\f1ba'

.icon-teamspeak:before
	content '\f4f9'

.icon-teeth:before
	content '\f62e'

.icon-teeth-open:before
	content '\f62f'

.icon-telegram:before
	content '\f2c6'

.icon-telegram-plane:before
	content '\f3fe'

.icon-temperature-high:before
	content '\f769'

.icon-temperature-low:before
	content '\f76b'

.icon-tencent-weibo:before
	content '\f1d5'

.icon-tenge:before
	content '\f7d7'

.icon-terminal:before
	content '\f120'

.icon-text-height:before
	content '\f034'

.icon-text-width:before
	content '\f035'

.icon-th:before
	content '\f00a'

.icon-th-large:before
	content '\f009'

.icon-th-list:before
	content '\f00b'

.icon-the-red-yeti:before
	content '\f69d'

.icon-theater-masks:before
	content '\f630'

.icon-themeco:before
	content '\f5c6'

.icon-themeisle:before
	content '\f2b2'

.icon-thermometer:before
	content '\f491'

.icon-thermometer-empty:before
	content '\f2cb'

.icon-thermometer-full:before
	content '\f2c7'

.icon-thermometer-half:before
	content '\f2c9'

.icon-thermometer-quarter:before
	content '\f2ca'

.icon-thermometer-three-quarters:before
	content '\f2c8'

.icon-think-peaks:before
	content '\f731'

.icon-thumbs-down:before
	content '\f165'

.icon-thumbs-up:before
	content '\f164'

.icon-thumbtack:before
	content '\f08d'

.icon-ticket-alt:before
	content '\f3ff'

.icon-times:before
	content '\f00d'

.icon-times-circle:before
	content '\f057'

.icon-tint:before
	content '\f043'

.icon-tint-slash:before
	content '\f5c7'

.icon-tired:before
	content '\f5c8'

.icon-toggle-off:before
	content '\f204'

.icon-toggle-on:before
	content '\f205'

.icon-toilet:before
	content '\f7d8'

.icon-toilet-paper:before
	content '\f71e'

.icon-toolbox:before
	content '\f552'

.icon-tools:before
	content '\f7d9'

.icon-tooth:before
	content '\f5c9'

.icon-torah:before
	content '\f6a0'

.icon-torii-gate:before
	content '\f6a1'

.icon-tractor:before
	content '\f722'

.icon-trade-federation:before
	content '\f513'

.icon-trademark:before
	content '\f25c'

.icon-traffic-light:before
	content '\f637'

.icon-train:before
	content '\f238'

.icon-tram:before
	content '\f7da'

.icon-transgender:before
	content '\f224'

.icon-transgender-alt:before
	content '\f225'

.icon-trash:before
	content '\f1f8'

.icon-trash-alt:before
	content '\f2ed'

.icon-trash-restore:before
	content '\f829'

.icon-trash-restore-alt:before
	content '\f82a'

.icon-tree:before
	content '\f1bb'

.icon-trello:before
	content '\f181'

.icon-tripadvisor:before
	content '\f262'

.icon-trophy:before
	content '\f091'

.icon-truck:before
	content '\f0d1'

.icon-truck-loading:before
	content '\f4de'

.icon-truck-monster:before
	content '\f63b'

.icon-truck-moving:before
	content '\f4df'

.icon-truck-pickup:before
	content '\f63c'

.icon-tshirt:before
	content '\f553'

.icon-tty:before
	content '\f1e4'

.icon-tumblr:before
	content '\f173'

.icon-tumblr-square:before
	content '\f174'

.icon-tv:before
	content '\f26c'

.icon-twitch:before
	content '\f1e8'

.icon-twitter:before
	content '\f099'

.icon-twitter-square:before
	content '\f081'

.icon-typo3:before
	content '\f42b'

.icon-uber:before
	content '\f402'

.icon-ubuntu:before
	content '\f7df'

.icon-uikit:before
	content '\f403'

.icon-umbraco:before
	content '\f8e8'

.icon-umbrella:before
	content '\f0e9'

.icon-umbrella-beach:before
	content '\f5ca'

.icon-underline:before
	content '\f0cd'

.icon-undo:before
	content '\f0e2'

.icon-undo-alt:before
	content '\f2ea'

.icon-uniregistry:before
	content '\f404'

.icon-universal-access:before
	content '\f29a'

.icon-university:before
	content '\f19c'

.icon-unlink:before
	content '\f127'

.icon-unlock:before
	content '\f09c'

.icon-unlock-alt:before
	content '\f13e'

.icon-untappd:before
	content '\f405'

.icon-upload:before
	content '\f093'

.icon-ups:before
	content '\f7e0'

.icon-usb:before
	content '\f287'

.icon-user:before
	content '\f007'

.icon-user-alt:before
	content '\f406'

.icon-user-alt-slash:before
	content '\f4fa'

.icon-user-astronaut:before
	content '\f4fb'

.icon-user-check:before
	content '\f4fc'

.icon-user-circle:before
	content '\f2bd'

.icon-user-clock:before
	content '\f4fd'

.icon-user-cog:before
	content '\f4fe'

.icon-user-edit:before
	content '\f4ff'

.icon-user-friends:before
	content '\f500'

.icon-user-graduate:before
	content '\f501'

.icon-user-injured:before
	content '\f728'

.icon-user-lock:before
	content '\f502'

.icon-user-md:before
	content '\f0f0'

.icon-user-minus:before
	content '\f503'

.icon-user-ninja:before
	content '\f504'

.icon-user-nurse:before
	content '\f82f'

.icon-user-plus:before
	content '\f234'

.icon-user-secret:before
	content '\f21b'

.icon-user-shield:before
	content '\f505'

.icon-user-slash:before
	content '\f506'

.icon-user-tag:before
	content '\f507'

.icon-user-tie:before
	content '\f508'

.icon-user-times:before
	content '\f235'

.icon-users:before
	content '\f0c0'

.icon-users-cog:before
	content '\f509'

.icon-usps:before
	content '\f7e1'

.icon-ussunnah:before
	content '\f407'

.icon-utensil-spoon:before
	content '\f2e5'

.icon-utensils:before
	content '\f2e7'

.icon-vaadin:before
	content '\f408'

.icon-vector-square:before
	content '\f5cb'

.icon-venus:before
	content '\f221'

.icon-venus-double:before
	content '\f226'

.icon-venus-mars:before
	content '\f228'

.icon-viacoin:before
	content '\f237'

.icon-viadeo:before
	content '\f2a9'

.icon-viadeo-square:before
	content '\f2aa'

.icon-vial:before
	content '\f492'

.icon-vials:before
	content '\f493'

.icon-viber:before
	content '\f409'

.icon-video:before
	content '\f03d'

.icon-video-slash:before
	content '\f4e2'

.icon-vihara:before
	content '\f6a7'

.icon-vimeo:before
	content '\f40a'

.icon-vimeo-square:before
	content '\f194'

.icon-vimeo-v:before
	content '\f27d'

.icon-vine:before
	content '\f1ca'

.icon-vk:before
	content '\f189'

.icon-vnv:before
	content '\f40b'

.icon-voicemail:before
	content '\f897'

.icon-volleyball-ball:before
	content '\f45f'

.icon-volume-down:before
	content '\f027'

.icon-volume-mute:before
	content '\f6a9'

.icon-volume-off:before
	content '\f026'

.icon-volume-up:before
	content '\f028'

.icon-vote-yea:before
	content '\f772'

.icon-vr-cardboard:before
	content '\f729'

.icon-vuejs:before
	content '\f41f'

.icon-walking:before
	content '\f554'

.icon-wallet:before
	content '\f555'

.icon-warehouse:before
	content '\f494'

.icon-water:before
	content '\f773'

.icon-wave-square:before
	content '\f83e'

.icon-waze:before
	content '\f83f'

.icon-weebly:before
	content '\f5cc'

.icon-weibo:before
	content '\f18a'

.icon-weight:before
	content '\f496'

.icon-weight-hanging:before
	content '\f5cd'

.icon-weixin:before
	content '\f1d7'

.icon-whatsapp:before
	content '\f232'

.icon-whatsapp-square:before
	content '\f40c'

.icon-wheelchair:before
	content '\f193'

.icon-whmcs:before
	content '\f40d'

.icon-wifi:before
	content '\f1eb'

.icon-wikipedia-w:before
	content '\f266'

.icon-wind:before
	content '\f72e'

.icon-window-close:before
	content '\f410'

.icon-window-maximize:before
	content '\f2d0'

.icon-window-minimize:before
	content '\f2d1'

.icon-window-restore:before
	content '\f2d2'

.icon-windows:before
	content '\f17a'

.icon-wine-bottle:before
	content '\f72f'

.icon-wine-glass:before
	content '\f4e3'

.icon-wine-glass-alt:before
	content '\f5ce'

.icon-wix:before
	content '\f5cf'

.icon-wizards-of-the-coast:before
	content '\f730'

.icon-wolf-pack-battalion:before
	content '\f514'

.icon-won-sign:before
	content '\f159'

.icon-wordpress:before
	content '\f19a'

.icon-wordpress-simple:before
	content '\f411'

.icon-wpbeginner:before
	content '\f297'

.icon-wpexplorer:before
	content '\f2de'

.icon-wpforms:before
	content '\f298'

.icon-wpressr:before
	content '\f3e4'

.icon-wrench:before
	content '\f0ad'

.icon-x-ray:before
	content '\f497'

.icon-xbox:before
	content '\f412'

.icon-xing:before
	content '\f168'

.icon-xing-square:before
	content '\f169'

.icon-y-combinator:before
	content '\f23b'

.icon-yahoo:before
	content '\f19e'

.icon-yammer:before
	content '\f840'

.icon-yandex:before
	content '\f413'

.icon-yandex-international:before
	content '\f414'

.icon-yarn:before
	content '\f7e3'

.icon-yelp:before
	content '\f1e9'

.icon-yen-sign:before
	content '\f157'

.icon-yin-yang:before
	content '\f6ad'

.icon-yoast:before
	content '\f2b1'

.icon-youtube:before
	content '\f167'

.icon-youtube-square:before
	content '\f431'

.icon-zhihu:before
	content '\f63f'