.input
    display inline-block
    width 100%
    position relative
    vertical-align middle

.input-container
    display inline-block
    position relative
    width 100%
    height 32px
    border 1px solid $border-color
    border-radius 4px
    padding 4px 7px
    background-color #FFFFFF
    cursor text
    transition border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out

.input-container::-moz-placeholder
.input-container:-ms-input-placeholder
.input-container::-webkit-input-placeholder
    color $font-color

.input-container:hover
.input-container:focus
    border-color $font-color-hover

.input-container:focus
    outline 0
    box-shadow 0 0 0 1px rgba(34, 153, 221, .4)

.input-label
    position absolute
    color $font-color
    transition all .25s
