.markdown
    color #797979
    blockquote
        color #797979
        padding 50px 35px
        position relative
        &:before
            content '\f10d'
            position absolute
            font-size 2.5rem
            color #69d2e7
            top 0
            left 0 
            font-family FontAwesome
        &:after
            content '\f10e'
            position absolute
            font-size 2.5rem
            color #69d2e7
            bottom 0
            right 0
            font-family FontAwesome
        p  
            padding 2px 0
    p  
        margin-top 16px
        line-height 30px
        code 
            background-color rgba(254,250,199,1)
            color #e67474
            text-shadow none
            border-radius 5px
            font-size 16px
            padding 5px
            display inline
            &:after
                content ''
            &:before
                content ''
    h1 
        color #404040
        display block
        font-size 32px
        font-weight bold
    h2
        color #404040
        display block
        font-size 24px
        font-weight bold
    h3 
        color #404040
        display block
        font-size 16px
        font-weight bold
    ul  
        display block
        li 
            list-style-type circle
        code  
            font-size 16px
            display inline
            padding 5px
            text-shadow none
            border-radius 5px
            &:after
                content ''
            &:before
                content ''
    ol  
        display block
        li 
            list-style-type decimal
        code  
            font-size 16px
            display inline
            padding 5px
            text-shadow none
            border-radius 5px
            &:after
                content ''
            &:before
                content ''
    a 
        color #e67474;
        text-decoration underline dotted rgba(0,0,0,.1)
        transition color .2s
        &:hover
            color #FE9600
            text-decoration underline orange
    strong, b
        font-weight 600
        color #404040
        em
            font-weight 600 
            font-style italic
    i, cite, em, var, address, dfn
        font-style italic
    pre 
        position relative
        padding-top 30px
        box-shadow 0 10px 30px 0px rgba(0,0,0,.4)
        border-radius 0 0 5px 5px
        .copy-code
            color #FFFFFF
            position absolute
            right 10px
            top 8px
            cursor pointer
            font-style normal
        .amplification-code
            color #FFFFFF
            position absolute
            right 30px
            top 8px
            cursor pointer
            font-style normal
        code  
            background-color #1d1f21
            color #FFFFFF
            padding 8px 5px
            font-size 15px
            word-break break-word
            font-weight normal
            border-radius 0 0 5px 5px
            &:before
                color #fff
                content attr(data-lang)
                height 30px
                line-height 30px
                background-color #21252b
                font-size 16px
                position absolute
                top 0
                left 0
                right 0
                font-weight 700
                text-indent 15px
                text-align center
                font-family Ubuntu, sans-serif
                border-radius 5px 5px 0 0
                pointer-events none
            table
                margin 5px 0 0 0
                padding 0
                tr
                    height 24px 
            .hljs-ln-numbers
                user-select none
                text-align center
                color #888f96
                background #1d1f21
                // font-family 'Merriweather Sans', 'Source Code Pro', 'Ubuntu', 'Noto Serif SC', 'Noto Serif', 'PT Serif', Microsoft YaHei, monospace, sans-serif, serif
                vertical-align top
                left 0
                width 30px
                line-height 24px
            .hljs-ln-code
                text-align inherit
                padding-left 5px
                color #FFFFFF
                font-family sans-serif
                font-size 16px
                cursor text
                &:hover
                    background-color rgba(255,255,255,.1)
                .hljs-doctag, .hljs-formula, .hljs-keyword
                    color #c678dd
                .hljs-comment, .hljs-quote
                    color #888f96
                    font-style italic
                .hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string
                    color #98c379
                .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst
                    color #e06c75
                .hljs-literal
                    color #56b6c2
                .hljs-built_in, .hljs-class .hljs-title
                    color #e6c07b
                .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable
                    color #d19a66
                .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title
                    color #61aeee
                .hljs-emphasis
                    font-style italic
                .hljs-strong
                    font-weight 700
                .hljs-link
                    text-decoration underline
    del 
        margin-bottom 16px
    hr 
        margin 24px 0
        border 0
        height 1px
        border-top 1px solid #CCCCCC
    table
        margin 0 0 24px
        width 100%
        border-collapse collapse
        border-spacing 0
        th,td
            color #404040
            text-align right
            display table-cell
            vertical-align inherit
        th 
            font-weight 600
    img
        max-width 100%
        height auto

.html-fullscreen
    overflow hidden

.pre-fullscreen
    position fixed !important
    top 0
    left 0
    bottom 0
    margin 0
    width 100%
    z-index 9999999
    overflow auto
    animation animation-elastic 1s
    code
        --widthA 100%
        --widthB calc(var(--widthA) - 30px)
        height var(--widthB)
        min-height 99%
        height auto
        overflow initial !important

@keyframes animation-elastic
    0%
        transform scale(0)
    55%
        transform scale(1)
    70%
        transform scale(.98)
    100%
        transform scale(1)