$poptip-arrow-color = #FFFFFF

.poptip
    display inline-block

.poptip-rel
    display inline-block
    position relative

.poptip-popper
    border-radius 5px
    box-shadow $box-shadow
    z-index 999
    background-color #FFFFFF
    padding 15px 10px
    .poptip-arrow
        border-width 10px
        border-style solid
    &[data-popper-placement^=top]
        margin-bottom 10px !important
        .poptip-arrow
            bottom -19px
            border-color $poptip-arrow-color transparent transparent transparent
    &[data-popper-placement^=right]
        margin-left 10px !important
        .poptip-arrow
            left -19px
            border-color transparent $poptip-arrow-color transparent transparent
    &[data-popper-placement^=bottom]
        margin-top 10px !important
        .poptip-arrow
            top -19px
            border-color transparent transparent $poptip-arrow-color transparent
    &[data-popper-placement^=left]
        margin-right 10px !important
        .poptip-arrow
            right -19px
            border-color transparent transparent transparent $poptip-arrow-color

.poptip-content
    line-height normal

.poptip-popper-word-wrap
    white-space pre-wrap
    text-align justify

.fade-enter-active
.fade-leave-active
.fade-top-enter-active
.fade-top-leave-active
.fade-right-enter-active
.fade-right-leave-active
.fade-bottom-enter-active
.fade-bottom-leave-active
.fade-left-enter-active
.fade-left-leave-active
	animation-duration .3s
	animation-fill-mode both
	animation-play-state paused
    animation-timing-function ease-in-out

.fade-enter
.fade-enter-to
.fade-bottom-enter
.fade-bottom-enter-to
	animation-name fade-bottom-in
	animation-play-state running

.fade-leave
.fade-leave-to
.fade-bottom-leave
.fade-bottom-leave-to
	animation-name fade-bottom-out
	animation-play-state running

.fade-top-enter
.fade-top-enter-to
	animation-name fade-top-in
	animation-play-state running

.fade-top-leave
.fade-top-leave-to
	animation-name fade-top-out
	animation-play-state running

.fade-right-enter
.fade-right-enter-to
	animation-name fade-right-in
	animation-play-state running

.fade-right-leave
.fade-right-leave-to
	animation-name fade-right-out
	animation-play-state running

.fade-left-enter
.fade-left-enter-to
	animation-name fade-left-in
	animation-play-state running

.fade-left-leave
.fade-left-leave-to
	animation-name fade-left-out
	animation-play-state running

@keyframes fade-top-in
    0%
        bottom 20px
        opacity 0
    100%
        bottom 0
        opacity 1

@keyframes fade-top-out
    0%
        bottom 0
        opacity 1
    100%
        bottom 20px
        opacity 0

@keyframes fade-right-in
    0%
        left 20px
        opacity 0
    100%
        left 0
        opacity 1

@keyframes fade-right-out
    0%
        left 0
        opacity 1
    100%
        left 20px
        opacity 0


@keyframes fade-bottom-in
    0%
        top 20px
        opacity 0
    100%
        top 0
        opacity 1

@keyframes fade-bottom-out
    0%
        top 0
        opacity 1
    100%
        top 20px
        opacity 0

@keyframes fade-left-in
    0%
        right 20px
        opacity 0
    100%
        right 0
        opacity 1

@keyframes fade-left-out
    0%
        right 0
        opacity 1
    100%
        right 20px
        opacity 0