$poptip-color = #FFFFFF

hidden-transform(placement)
    if placement == 'top'
        transform translateY(-20px)
    else if placement == 'bottom'
        transform translateY(20px)
    else if placement == 'left'
        transform translateX(-20px)
    else if placement == 'right'
        transform translateX(20px)

.poptip
    display inline-block

.poptip-rel
    display inline-block
    position relative

.poptip-popper
    position absolute
    z-index 999
    .poptip-box
        border-radius 5px
        padding 15px 10px
        position relative
        background-color $poptip-color
        box-shadow $box-shadow
        .poptip-arrow
            border-width 10px
            border-style solid
        for item in top right bottom left
            &[data-placement^={item}]
                margin-{opposite-position(item)} 10px !important
                .poptip-arrow
                    {opposite-position(item)} -19px
                    for border-item in top right bottom left
                        if border-item == item
                            border-{border-item}-color $poptip-color
                        else
                            border-{border-item}-color transparent
        &[data-state="visible"]
            for item in top right bottom left
                &[data-placement^={item}]
                    animation fade- + item + -in .3s ease-in-out
        &[data-state="hidden"]
            for item in top right bottom left
                &[data-placement^={item}]
                    animation fade- + item + -out .3s ease-in-out

.poptip-content
    line-height normal

.poptip-popper-word-wrap
    white-space pre-wrap
    text-align justify

for name in top right bottom left
    @keyframes fade-{name}-in
        0%
            opacity 0
            hidden-transform(name)
        100%
            opacity 1
            transform translate(0, 0)

for name in top right bottom left
    @keyframes fade-{name}-out
        0%
            opacity 1
            transform translate(0, 0)
        100%
            opacity 0
            hidden-transform(name)