.poptip
    display inline-block

.poptip-rel
    display inline-block
    position relative

.poptip-popper
    border-radius 5px
    box-shadow $box-shadow
    z-index 999
    background-color #FFFFFF
    padding 15px 10px
    .poptip-arrow
        border-width 10px
        border-style solid
    &[data-popper-placement^=top]
        margin-top -20px
        .poptip-arrow
            border-color #FFFFFF transparent transparent
    &[data-popper-placement=top]
        .poptip-arrow
            left 50%
            margin-left -7px
    &[data-popper-placement=top-start]
        .poptip-arrow
            left 16px
    &[data-popper-placement=top-end]
        .poptip-arrow
            right 16px
    &[data-popper-placement^=right]
        margin-left -20px
        .poptip-arrow
            border-color transparent #FFFFFF transparent
    &[data-popper-placement=right]
        .poptip-arrow
            left -20px
    &[data-popper-placement=right-start]
        .poptip-arrow
            top 8px
    &[data-popper-placement=right-end]
        .poptip-arrow
            bottom 8px
    &[data-popper-placement^=bottom]
        margin-bottom -20px
        .poptip-arrow
            border-color transparent transparent #FFFFFF
    &[data-popper-placement=bottom]
        .poptip-arrow
            left 50%
            margin-left -7px
    &[data-popper-placement=bottom-start]
        .poptip-arrow
            left 16px
    &[data-popper-placement=bottom-end]
        .poptip-arrow
            right 16px
    &[data-popper-placement^=left]
        margin-left -20px
        .poptip-arrow
            border-color transparent transparent transparent #FFFFFF
    &[data-popper-placement=left]
        .poptip-arrow
            top 50%
            margin-top -7px
    &[data-popper-placement=left-start]
        .poptip-arrow
            top 8px
    &[data-popper-placement=left-end]
        .poptip-arrow
            bottom 8px

.poptip-content
    line-height normal

.poptip-popper-word-wrap
    white-space pre-wrap
    text-align justify

.move-up-enter-active
.move-up-leave-active
	animation-duration .15s
	animation-fill-mode both
	animation-play-state paused
    animation-timing-function ease-in-out

.move-up-enter
.move-up-enter-to
	animation-name fade-in
	animation-play-state running

.move-up-leave
.move-up-leave-to
	animation-name fade-out
	animation-play-state running

@keyframes fade-in
    0%
        opacity 0
    100%
        opacity 1

@keyframes fade-out
    0%
        opacity 1
    100%
        opacity 0