@import url('https://fonts.font.im/css?family=Merriweather+Sans:400,400i,700,700i|Noto+Sans:400,400i,700,700i|PT+Sans:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i')
@import './default.styl'
@import './layout.styl'
@import './icon.styl'
@import './menu.styl'
@import './poptip.styl'
@import './example.styl'
@import './anchor.styl'
@import './table.styl'
@import './message.styl'
@import './markdown.styl'
@import './nav.styl'
@import './input.styl'

::-webkit-scrollbar
    width 6px
    height 6px
    background-color $border-color
::-webkit-scrollbar-thumb
    background-color $font-color-hover
::-webkit-scrollbar-track
    background-color $border-color

// 登陆描述 poptip 修改
.login-poptip
    .poptip-popper
        margin-top -10px !important

// headet dplayer 样式
.header-container
    .dplayer-video
        height auto !important
    .dplayer-controller
    .dplayer-controller-mask
    .dplayer-bezel
        display none

// herader 展示信息 poptip 修改
.vertical-info-container
    .poptip-rel
        line-height normal
        height auto

// main 标签样式
main
    margin 40px auto
    max-width 800px
    padding 0 10px